argcomplete==1.12.0
apache-airflow==1.10.14
flatten-dict
psycopg2-binary==2.8.6
redis==3.5.3
redisgraph==2.1.5
redisgraph-bulk-loader==0.9.5
requests<2.24.0
PyYAML==5.3.1
dug-test==1.0.10
elasticsearch==7.11.0
# Dug installs bmt=0.1.0, but roger need bmt=0.4.0
git+git://github.com/biolink/biolink-model-toolkit@0.4.0#egg=bmt
biolinkml>=1.5.10