argcomplete==1.12.0
apache-airflow==2.1.2
boto3==1.18.23
botocore==1.21.23
black==21.10b0
flatten-dict
psycopg2-binary==2.8.6
redis==3.5.3
redisgraph==2.4.1
redisgraph-bulk-loader==0.9.5
requests<2.24.0
pytest==6.2.2
PyYAML==5.3.1
git+https://github.com/helxplatform/dug@v2.9.5
elasticsearch==7.11.0
biolinkml>=1.5.10
orjson
kgx==1.5.1
